body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2978ac25;
}

.header {
    background-color: #25515e;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    width: 200px;
    margin-left: 30px;
}

.header__menu {
    margin-right: 30px;
    margin-top: 20px;
}

.header__menu ul {
    display: none;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -20px;
}

.header__menu:hover ul,
ul:hover {
    display: block;
}

.header__menu li {
    margin: 10px 0px;
}

.header__menu li a {
    text-transform: capitalize;
    font-weight: 400;
    color: #0f4b74;
    text-decoration: none;
    text-transform: capitalize;
}

.header__menu li a:hover {
    text-decoration: underline;
}

.header__menu--profile {
    margin: 0px 8px;
}

.header__menu--profile img {
    margin-right: 15px;
    width: 40px;
    height: 40px;
}

.header__menu--profile p {
    text-transform: capitalize;
    font-weight: 600;
    margin: 0px;
    color: #ffffff;
    letter-spacing: 1px;
}

.contenido {
    margin: auto;
    background-color: transparent;
    width: 800px;
    padding: 30px;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider {
    position: relative;
    width: 800px;
    height: 300px;
}

ul.slider li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    background: transparent;
    transition: opacity .5s;
}

.img__container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 750px;
    width: 100%;
}

ul.slider li img {
    width: 50%;
    height: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
}

ul.slider li:first-child {
    opacity: 1;
}

ul.slider li:target {
    opacity: 1;
}

.menu {
    text-align: center;
    margin: 0px 20px;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #0f4b74;
    padding: 10px;
    width: 70px;
    height: 70px;
    font-size: 35px;
    border-radius: 100%;
}

.login {
    margin: auto;
    max-width: 80%;
    margin-bottom: 40px;
}

.formulario {
    width: 400px;
    background: #22577A;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.form-group {
    margin-top: 20px;
}