    .flex,
    .header,
    .header__menu--profile,
    .search,
    .footer {
        display: flex;
        align-items: center;
    }
    
    body {
        margin: 0;
        padding: 0;
        background-color: #253535;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .header {
        background-color: #253535d0;
        width: 100%;
        height: 80px;
        justify-content: space-between;
    }
    
    .header__img {
        width: 200px;
        margin-left: 30px;
    }
    
    .header__menu {
        margin-right: 30px;
        margin-top: 20px;
    }
    
    .header__menu ul {
        display: none;
        list-style: none;
        padding: 0;
        position: absolute;
        width: 100px;
        text-align: right;
        margin: 0px 0px 0px -8px;
        transition: 300ms;
    }
    
    .header__menu:hover ul,
    ul:hover {
        background-color: #ffffffbb;
        display: block;
    }
    
    .header__menu ul:hover {
        scale: 1.1;
    }
    
    .header__menu li {
        padding: 10px 0px;
        text-align: center;
    }
    
    .description__item {
        color: #ffffff;
        display: flex;
        justify-content: space-around;
    }
    
    .header__menu li a {
        color: #000000;
        text-decoration: none;
        text-transform: capitalize;
    }
    
    .header__menu li a:hover {
        text-decoration: underline;
    }
    
    .header__menu--profile img {
        margin-right: 15px;
        width: 40px;
        height: 40px;
    }
    
    .header__menu--profile p {
        margin: 0px;
        color: #ffffff;
        letter-spacing: 1px;
    }
    
    .search {
        margin: auto;
        width: 75%;
        background-color: #253535d0;
        height: calc(100vh - 70px);
        justify-content: center;
        flex-direction: column;
        position: relative;
    }
    
    .search img {
        opacity: 1;
        width: 100%;
        height: 545px;
        object-fit: cover;
        position: absolute;
    }
    
    .search p {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        letter-spacing: 2px;
        background-color: #2035369a;
        border: 1px solid #ffffffa2;
        box-shadow: 5px 5px 10px #000000;
        border-radius: 10px;
        padding: 10px;
        position: absolute;
        color: #ffffff;
        font-size: 40px;
    }
    
     ::placeholder {
        color: #ffffff;
    }
    
    .categories {
        margin: 0;
        color: #ffffff;
        font-size: 18px;
    }
    
    .carousel {
        background: #367272;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
    }
    
    .carousel__container {
        height: 300px;
        white-space: nowrap;
        margin: 65px 30px;
        padding-bottom: 10px;
    }
    
    .carousel-item {
        background-color: #7be6e6;
        width: 200px;
        height: 250px;
        border-radius: 20px;
        overflow: hidden;
        margin-right: 10px;
        display: inline-block;
        transition: 450ms all;
        transform-origin: center left;
        position: relative;
    }
    
    .carousel-item:hover~.carousel-item {
        transform: translate3d(100px, 0, 0);
    }
    
    .carousel__container:hover .carousel-item {
        opacity: 0.3;
    }
    
    .carousel__container:hover .carousel-item:hover {
        transform: scale(1.5);
        opacity: 1;
        cursor: pointer;
    }
    
    .carousel-item__img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    
    .carousel-item__details {
        opacity: 0;
        transition: 450ms;
        padding: 10px;
        position: absolute;
        top: 60%;
        left: 0;
        right: 0;
        bottom: 0;
    }
    
    .carousel-item__details p {
        color: #ffffff;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        text-transform: capitalize;
    }
    
    .carousel-item__img:hover~.carousel-item__details {
        opacity: 1;
    }
    
    .carousel-item__details:hover {
        opacity: 1;
    }
    
    .carousel-item__details img:hover {
        cursor: pointer;
    }
    
    .description {
        margin: 20px 0px;
    }
    
    @media only screen and (max-width: 600px) {
        .header__img {
            width: 150px;
            margin-left: 20px;
        }
        .header__menu--profile img {
            margin-right: 7px;
            width: 30px;
            height: 30px;
        }
        .header__menu--profile p {
            font-size: 15px;
        }
        .header__menu li a {
            font-size: 13px;
        }
        .search__title {
            font-size: 20px;
        }
        .input {
            width: 70%;
            height: 40px;
        }
        .categories {
            font-size: 16px;
            margin: 0px 20px;
        }
        .carousel__container {
            padding: 0;
            margin: 45px 20px;
        }
        .carousel-item {
            width: 100px;
            height: 150px;
            margin-right: 5px;
        }
        .carousel-item img {
            height: 150px;
        }
        .carousel-item__details {
            padding: 5px;
            font-size: 7px;
            transition: none;
            top: 55%;
            opacity: 1;
        }
        .carousel-item__details img {
            width: 15px;
            height: 15px;
        }
        .carousel-item__details--title {
            font-size: 7px;
        }
        .carousel-item:hover~.carousel-item {
            transform: translate3d(50px, 0, 0);
        }
        .carousel__container:hover .carousel-item:hover {
            transform: scale(1.5);
            opacity: 1;
        }
    }